@model PatientVM

<h1>Patient Details</h1>
<h4>
    @Model.FullName
</h4>
<p>
    <strong>Age:</strong> @Model.Age
</p>
<p>
    <strong>National ID:</strong> @Model.NationalId
</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Appoint Date</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Appointments) {
            <tr>
                <td>@p.Id</td>
                <td>@p.AppointmentDate.ToString("dd-MMM-yyyy HH:mm")</td>
                <td>@p.DoctorName</td>
                <td>@p.Status</td>
            </tr>
        }
    </tbody>
</table>