@model ClinicDM.ViewModels.DoctorFilteredListVM

@{
    ViewData["Title"] = "Doctors";
}

<h4 class="card-title">
    Doctors
</h4>
<div class="d-flex justify-content-between">
    <h6 class="card-subtitle">
        # Doctors @Model.Data.Count
    </h6>
    <a asp-controller="Doctor" asp-action="Create" class="btn btn-primary">
        New Doctor
    </a>
</div>
<p>
    @ViewData["CreatedBy"]
    <br />
    @ViewBag.CreatedBy
</p>

<partial name="_Filter" model="@Model.Filter" />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">FullName</th>
            <th scope="col">Specialty</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.Data)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.FullName</td>
                <td>@d.Specialty</td>
                <td>@d.Email</td>
                <td>@d.PhoneNumber</td>
                <td>
                    <a asp-controller="Doctor" asp-action="Details" asp-route-id="@d.Id" class="btn btn-primary">
                        Details
                    </a>
                    <a asp-controller="Doctor" asp-action="Update" asp-route-id="@d.Id" class="btn btn-secondary">
                        Update
                    </a>
                    <a href="javascript:;" data-id="@d.Id" class="btn btn-danger js-delete">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(".js-delete").on("click", function () {
            var btn = $(this);
            var id = btn.data("id");
            var isConfirmed = confirm("Are you sure you want to delete this doctor?");

            if (isConfirmed) {
                $.ajax({
                    url: '/Doctor/Delete/' + id,
                    type: 'GET',
                    success: function (result) {
                        btn.parents("tr").remove();
                    },
                    error: function () {
                        alert("An error occurred while trying to delete the doctor.");
                    }
                });
            }
        });
    </script>
}
